@CHARSET "UTF-8";

#HomePageOnly {
	clear: both;
	background-color: #BBB;
}

#articleDetail {
	width: 430px;
	float:left;
	background-color: #CCC;
	margin-top: 10px;
	margin-right: 10px;
}
#bidDetail {
	width: 300px;
	float:left;
	background-color: #CCC;
	margin-top: 10px;
}
