@CHARSET "UTF-8";
* {
	 margin:0;
	 padding:0;
}
body {
	//background:#cfedcd;
	font-size:12px;
}
ul {
	list-style-type:none;
}
#container {
	margin: 0 auto;
    text-align: left;
    width: 988px;
    margin-top:20px;
}
#header {
	background-color: green;
	margin-bottom:20px;
}
#header #logo {
    width: 500px;
	//background-color: yellow;
}
#header #logIn {
	//background-color: red;
	height:150px;
	margin:0 120px;
}
#page {
	background-color: blue;
}
#nav {
	width: 500px;
	float: left;
}
#nav ul {
	background:#fff ;
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
	background-color: pink;
}
#nav ul li {
	display:inline;
}
#nav ul li a {
	text-decoration:none;
	color:green;
}
#nav ul li a:hover {
	color:#f60;
}
#social {
	width: 400px;
	float: right;
}
#social ul {
	background:#fff ;
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
	background-color: orange;
}
#social ul li {
	display:inline;
}
#social ul li a {
	text-decoration:none;
	color:green;
}
#social ul li a:hover {
	color:#f60;
}
#HomePageOnly {
	clear: both;
	background-color: #BBB;
}




#sidebar {
	height:300px;
	width: 300px;
	float:left;
	background-color: #CCC;
}
#mainRight {
	height:300px;
	width: 650px;
	float:right;
	background-color: #CCC;
}
#liveAuctions {
	height:300px;
	width: 650px;
	float:left;
	background-color: #CCC;
}
#itemsClosing {
	height:300px;
	width: 300px;
	float:right;
	background-color: #CCC;
}

#footer {
	clear: both;
}
