@CHARSET "UTF-8";
* {
	 margin:0;
	 padding:0;
}
body {
	font-size:12px;
}
ul {
	list-style-type:none;
}
#container {
	margin: 0 auto;
    text-align: left;
    width: 988px;
    margin-top:20px;
}
#header {
	background-color: green;
	height: 100px;
	margin-bottom:20px;
}
#logo {
    width: 500px;
}
#logo img{
    width: 470px;
    height: 67px;
}
iframe#logIn{
	width: 350px;
	height: 100px;
    float: right;
    background-color: red;
}


#page {
	background-color: blue;
}
#nav {
	width: 500px;
	float: left;
}
#nav ul {
	background:#fff ;
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
	background-color: pink;
}
#nav ul li {
	display:inline;
}
#nav ul li a {
	text-decoration:none;
	color:green;
}
#nav ul li a:hover {
	color:#f60;
}
#social {
	width: 400px;
	float: right;
}
#social ul {
	background:#fff ;
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
	background-color: orange;
}
#social ul li {
	display:inline;
}
#social ul li a {
	text-decoration:none;
	color:green;
}
#social ul li a:hover {
	color:#f60;
}

#footer {
	background-color: #cba;
	clear: both;
}
