@CHARSET "UTF-8";

#HomePageOnly {
	clear: both;
	background-color: #BBB;
}

#mainRight {
	width: 700px;
	float: right;
	margin-right: 20px;
}
#mainRightTop {
	height:150px;
	padding:20px;
	margin-bottom:20px;
	background-color: white;
}
#mainRightDown {
	height:300px;
	padding:20px;
	background-color: white;
}
#mainRightDown table{
	width: 650px;
	margin-bottom: 50px;
}
#mainRightDown tr{
	height:50px;
	padding:5px;
	border-color:#0000FF;
	border-bottom-style:dotted;
}
#mainRightDown td , #mainRightDown th{
	border-color:#CCC;
	border-bottom-style:dotted;
}
