@CHARSET "UTF-8";

#HomePageOnly {
	clear: both;
	background-color: #BBB;
}

#sidebar {
	width: 300px;
	float:left;
	background-color: #CCC;
}
#mainRight {
	width: 650px;
	float:right;
	background-color: #CCC;
}
