@CHARSET "UTF-8";

#HomePageOnly {
	clear: both;
}

#mainRight {
	width: 730px;
	float:left;
	background-color: white;
}
#mainRight .mainRightItem{
	margin:20px; 
}
#mainRight a img.mainPictureLocation {
	width: 200px;
	height: 175px;
}
#mainRight .itemsDetail {
	width: 400px;
	float: right;
}
#mainRight .itemsDetail a{
	font-size:24px;
	text-decoration:none;
}
#mainRight .itemsDetail a.itemsDetailBidNow{
	margin-left: 300px;
}
#mainRight th{
	width: 150px;
}
