@CHARSET "UTF-8";

#HomePageOnly {
	clear: both;
}

#mainRight {
	width: 730px;
	float:left;
	background-color: #CCC;
	margin-top: 10px;
}
#mainRight a{
	background-color: yellow;
}
#mainRight .mainPictureLocation {
	width: 200px;
	height: 175px;
}
